.btn{
    cursor: pointer;
    background-color: coral;   
    border-radius: 10px;
    font-size: 15px;
}
#tr{
    color: blue;
    font-size: 20px;
}
#table{
    font-size: 15px;
    
}
a{
    background-color: chocolate;
    border-radius: 20px;
    font-size: medium;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
}
h1{
    margin-right: 100px;
}
div input{
    margin: 10px;
}